@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


head, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* font-family: "..." */;
    font-size: larger;
    color: rgb(0, 0, 0);
}

:root{
    --main-bg-color: rgb(113, 160 , 55);
    --icon-color: rgb(139, 164, 96);
}
.nav-link{
background-color: #000000;
}

a:hover {
    color: gold;
  }

section {
    /* Selector de un elemento. Les asigno esas propiedades a section*/
    width: 100%;
    height: 550px;
     
    background-image: url("./Imagenes/fotoBlanca.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .1);
    background-blend-mode: multiply;
}

.nombre{
  display: flex;
  justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: 'Lucida Sans';
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.active {
    font-weight: bold;
    columns: #2d2a2a;
}

.text-container {
    /*Estilo del container donde escribo mi nombre*/
    top: 42%;
    margin-right: 200px;
    margin-left: 10px;
  }

.yo {
    /*Estilo de mi foto*/
    height: 300px;
    top: 100px;
    bottom: 100px;
    left: 80%;
	  margin-top: 30px;
    margin-left: 50px;
	  border-radius: 50%;			
}


.text-container p {
    /*Estilo de los parrafos donde escribo mi nombre*/
    margin: 45px 10px 25px;
}


.text-container p:nth-child(1) {
    /*Estilo de la palabra "Soy" */
    font-family: "Calibri";
    font-weight: bold;
    color: #6d6d6d;
    font-size: 25px;
}

.text-container p:nth-child(2) {
    /*Estilo del nombre "Juan Pedro Demarco" */
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 55px;
}

.text-container button {
    /*Estilo del boton "descargar cv"*/
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 10px 10px;
}

.download-cv {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

button:hover {
    transform: scale(1.1);
}

.about-container {
    /*Estilo del container donde escribo la biografia principal*/
    width: 85%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 30px;
    border-style: groove;
    box-shadow: 2px 2px 12px rgba (0, 0, 0, 0.2);
    display: flex;
	  margin: -5% auto 20px;
	  position: relative;
	  top: -10% ;
	  justify-content: space-evenly;
    align-items: center;  
    min-width: 300px;
}

.about-container img {
    /*Estilo de la imagen dentro del container*/
    height: 250px;
    border-radius: 20%;
    min-width: 50px;
}

.about-text {
    /*Estilo del texto dentro del container*/
    width: 550px;
    min-width: 300px;
}

.about-text p:nth-child(1) {
    /*Estilo de "Sobre mi"*/
    color: black;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2) {
    /*Estilo de "Aspirante a tecnico electronico"*/
  color: black;
  font-family: 'Montserrat';
	font-weight: bold;
	font-size: 17px;	
	line-height: 6px;	
}

.about-text p:nth-child(3) {
    /*Estilo de "biografia"*/
    color: black;
    font-family: 'Montserrat';
    font-size: 16px;
}

.about-text button {
    /*Estilo del boton dentro del container principal*/
    color: black;
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: calibri;
    background-color: black;
}

.habilidades {
    /*Estilo de fondo de toda la pagina*/
    height: 450px;
    padding: 2% 10% 0px 10%;
}

.habilidades-text {
    /* Estilo de la palabra "Habilidades" */
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
  
}

.box-container {
    /* Estilo del bloque de fondo que "une" a los tres bloques */
    display: flex;
    justify-content: space-between;
}

.box-1,
.box-2,
.box-3 {
    /* Estilo que va a tener cada rectangulo de bloque */
    width: 340px;
    height: 300px;
    border-radius: 10%;
    border-style: groove;
    background-color: black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.box-1 span,
.box-2 span,
.box-3 span {
    /* Estilo que va a tener cada numero dentro del rectangulo del bloque*/
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2) {
    /* Estilo que va a tener cada titulo dentro del rectangulo del bloque*/
    color: #e6e3e3;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
    /* Estilo que va a tener cada parrafo dentro del rectangulo del bloque*/
    color: #fffafa;
    font-family: 'Montserrat';
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
}

footer {
    /*Formato del pie de pagina*/
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    /*Formato del parrafo en el pie de pagina*/
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}

.social-media a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-media {
    display: flex;
}

.social-media i {
    columns: #000000;
}

.social-media a:hover,
.a-social-bar a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
}

.social-media a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

.a-social-bar {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.a-social-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba (0, 0, 0, 0.2);
}

.a-social-bar i {
    color: #2b2b2b;
    font-size: 20px;
}